.placeholder {
  color: rgb(126, 126, 126);
  margin-left: 1rem;
}

.form {
  background-color: rgb(206, 206, 206);
  box-shadow: 2px 12px 15px -4px rgba(0, 0, 0, 0.5);
  padding: 1.5rem 3rem;
  border-radius: 4px;
  width: 25rem;
}

.label {
  width: 100%;
}

.input {
  border: 2px solid rgb(95, 95, 95);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  width: 100%;
}

.input:focus {
  outline: none;
  border: 2px solid rgb(150, 84, 180);
}

.submit {
  margin-top: 1rem;
  border: none;
  background-color: rgb(160, 251, 173);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
